<nav class="collections-sidebar">

   <ul>
      <li>
         {% if page.url == "/wiki" %}
            Wiki
         {% endif %}
         {% if page.url contains "/wiki:" or page.url contains "/wiki/" %}
            < <a href="/wiki">Back to Wiki</a>
         {% endif %}
         {% if page.url == "/works" %}
            Works
         {% endif %}
         {% if page.url contains "/works:" or page.url contains "/works/" %}
            < <a href="/works">Back to Works</a>
         {% endif %}
         {% if page.url == "/polyglot" %}
            Polyglot
         {% endif %}
         {% if page.url == "/polyglot/grammars:all" or page.url == "/polyglot/dictionary:all" %}
            < <a href="/polyglot">Back to Polyglot</a>
         {% endif %}
      </li>

      {% if page.url contains "/wiki" %}
         {% for item in site.data.collections_wiki %}
            <li>
               <a href="{{ item.link }}">
                  {{ item.name }}
               </a>
            </li>
         {% endfor %}
      {% endif %}

      {% if page.url contains "/works" %}
         {% for item in site.data.collections_works %}
            <li>
               <a href="{{ item.link }}">
                  {{ item.name }}
               </a>
            </li>
         {% endfor %}
      {% endif %}

      {% if page.url contains "/polyglot" %}
         {% for item in site.data.collections_polyglot %}
            <li>
               <a href="{{ item.link }}">
                  {{ item.name }}
               </a>
            </li>
         {% endfor %}
      {% endif %}

   </ul>

</nav>
