<nav class="collections-sidebar">

   {% if site.multi_projects %}
      {% for item in site.data.projects %}
         {% if page.url contains item.link %}
         <ul>
            <li><a href="{{ item.link }}">Main page</a></li>
            <li><a href="{{ item.link }}:contents">Contents</a></li>
            <li><a href="{{ item.link }}:all">All entries</a></li>
            <li><a href="{{ item.link }}:random">Random article</a></li>
            <li><a href="{{ item.link }}:about">About</a></li>
         </ul>
         {% endif %}
      {% endfor %}
   {% else %}
      <ul>
         <li><a href="/wiki">Main page</a></li>
         <li><a href="/wiki:contents">Contents</a></li>
         <li><a href="/wiki:all">All entries</a></li>
         <li><a href="/wiki:random">Random article</a></li>
         <li><a href="/wiki:about">About</a></li>
      </ul>
   {% endif %}

</nav>
