<header class="global-header">

   <h1 class="global-logo">
      <a href="/">
         <img src="/assets/images/favicon.png" class="global-favicon">
         {{ site.title | capitalize }}
      </a>
   </h1>

   <nav class="global-nav">

      {% for item in site.data.navigation %}
         <a href="{{ item.link }}" class="global-nav-link">
            {{ item.name }}
         </a>
      {% endfor %}

      <form class="global-search" action="/search" method="GET">
         <input required type="search" class="global-searchbar" placeholder="Search" name="q">
         <!---<button type="submit" class="global-search_submit"><i class="ri-search-line"></i></button>--->
      </form>

   </nav>

</header>
