<head>

   <meta charset="utf-8">

   <title>
      {% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}
   </title>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="/assets/css/style.css">
   <link rel="stylesheet" href="/assets/fonts/RemixIcon/remixicon.css">

   <link rel="icon" type="image/png" sizes="512x512" href="/assets/images/favicon.png">

   <!-------
   <script src="http://files.keyes.ie/things/baseliner/baseliner-latest.min.js">
   </script>

   <script>
      window.onload = function() {
          baseliner = new Baseliner(28);
      }
   </script>
   -------->

</head>
