<section class="entry-sidebar">

   {% if page.other_projects %}

      <section class="entry-other_projects">
         View in other collections:
         <ul>
            {% for item in page.other_projects %}
               <li>
                  <a href="/{{ item }}{{ page.url | remove_first: "/wiki" }}">{{ item | capitalize }}</a>
               </li>
            {% endfor %}
         </ul>
      </section>

   {% endif %}



   {% if page.image %}
      <figure>
         <img src="{{ page.image }}" width=auto class="entry-image">
         {% if page.image_caption %}
            <figcaption>{{ page.image_caption }}</figcaption>
         {% endif %}
      </figure>
   {% endif %}



   {% if page.quickstats %}

      <section class="entry-quickstats">

         <table class="stats-table">
            {% for stat in page.quickstats %}
               {% if stat[0] == "colspan_2" %}
                  <tr>
                     <td colspan="2" class="entry-quickstats_double">
                        {{ stat[1] | replace: "_", " " | capitalize }}
                     </td>
                  </tr>
               {% else %}
                  <tr>
                     <td>{{ stat[0] | replace: "_", " " | capitalize }}</td>
                     <td>{{ stat[1] }}</td>
                  </tr>
               {% endif %}
            {% endfor %}
         </table>

      </section>

   {% endif %}



   {% if page.quicknotes %}

      <section class="entry-quicknotes">

         {{ page.quicknotes }}

      </section>

   {% endif %}

<section>
