/*------------------------------------*\
  # BASE STYLING
  # styling universal to all pages
\*------------------------------------*/

* {
   /* Correct box-sizing in IE. */
   box-sizing: border-box;

   /* Hard reset on spacing, for the insane. */
   margin: 0;
   padding: 0;

   color: $color-bodytext;
   line-height: $lineheight-body;
}

body {
   width: 85%;

   display: grid;
   grid-template-columns: repeat(12, 1fr);

   margin: 0 auto;

   background-color: $color-bodybg;
   font-family: $fontfamily-body;
   font-size: $fontsize-body;
}

main {
   width: 100%;

   grid-column: span 12 / auto;

   display: grid;
   grid-template-columns: repeat(12, 1fr);

   background-color: $color-contentbg;
}

h1,
h2,
h3 {
   font-family: $fontfamily-header;
   font-weight: normal;
}

h1 {
   font-size: $fontsize-h1;
   padding: 0 0 0.19em;
}

h2 {
   font-size: $fontsize-h2;
   padding: 0.32em 0 0.61em;
}

h3 {
   font-size: $fontsize-h3;
   font-variant: small-caps;
   padding: 0.71em 0 0.9em 0;
   color: $color-h3;
}

a,
a:link,
a:active {
   color: $color-link;
   transition: .2s;
}

a:hover {
   color: $color-linkhover;
}

a:active {
   color: $color-linkactive;
}

p {
   margin-bottom: 1.75em;
}

hr {
   margin: 2*1.75rem 6em 2*1.68rem;

   border-style: solid;
   border-color: $color-hr;
}

img {
   border: 0;
}

blockquote {
   margin-left: 3em;
   margin-right: 3em;
   margin-bottom: 1.75rem;
   padding: 1.75em;

   background-color: $color-paperdark;
   border-left: 0.5em solid $color-shortbread;

   figcaption {
      text-align: right;
   }

   figcaption cite {
      display: inline;
   }
}

ul ul {
   list-style-type: circle;
}

sup,
sub {
   font-size: $fontsize-small;
   line-height: 0;
}

figcaption {
   font-size: $fontsize-small;
   text-align: center;
}

code,
pre,
kbd,
samp {
   font-family: $fontfamily-code;
}

code,
kbd {
   padding: 0.4em 0.5em 0.2em;

   background-color: $color-codebg;
   color: $color-codetext;
   border-radius: 4px;
}

kbd {
   position: relative;
   top: -1px;
   display: inline-block;
   min-width: 0.75rem;
   padding: 0.2rem 0.5rem;
   line-height: 1;

   background-color: $color-paperlight;
   border: 1px solid $color-linen;
   box-shadow: 0 2px 0 1px $color-linen;

   cursor: default;

   font-family: $fontfamily-body;
   text-align: center;
   color: $color-bodytext;

   transition: .1s;
   &:hover {
      box-shadow: 0 1px 0 0.5px $color-linen;
      top: 1px;
   }
}

pre {
   padding: 1rem;

   background-color: $color-codebg;
   color: $color-codetext;
   border-radius: 6px;
}

input[type="search"] {
   background-color: $color-searchbg;
}

.tooltip {
   position: relative;
}

.tooltip:before {
   content: attr(data-tooltip);
   position: absolute;
   width: 100px;
   background-color: #062B45;
   color: #fff;
   text-align: center;
   padding: 10px;
   line-height: 1.2;
   border-radius: 6px;
   z-index: 1;
   opacity: 0;
   transition: opacity .6s;
   bottom: 125%;
   left: 50%;
   margin-left: -60px;
   font-size: 0.75em;
   visibility: hidden;
}

.tooltip:after {
   content: "";
   position: absolute;
   bottom: 75%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   opacity: 0;
   transition: opacity .6s;
   border-color: #062B45 transparent transparent transparent;
   visibility: hidden;
}

.tooltip:hover:before, .tooltip:hover:after {
   opacity: 1;
   visibility: visible;
}
