/*------------------------------------*\
  # BASE STYLING
  # styling universal to all pages
\*------------------------------------*/

html {
   /* Correct box-sizing in IE. */
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

* {
   /* Hard reset on spacing, for the insane. */
   margin: 0;
   padding: 0;

   color: $color-body_text;
   line-height: $lineheight-body;
}

body {
   display: grid;
   grid-template-columns: repeat(12, 1fr);

   margin: 0 auto;

   background-color: $color-body_background;
   font-family: $fontfamily-body;
   @include for-phone-only {
      width: 100%;
      font-size: 85%;
   }
   @include for-tablet-portrait-up {
      width: 100%;
      font-size: 85%;
   }
   @include for-tablet-landscape-up {
      width: 90%;
      font-size: 90%;
   }
   @include for-desktop-up {
      width: 85%;
      font-size: $fontsize-body;
   }
}

main {
   width: 100%;

   grid-column: span 12 / auto;

   display: grid;
   grid-template-columns: repeat(12, 1fr);

   background-color: $color-content_background;
}



h1,
h2,
h3 {
   font-family: $fontfamily-header;
   font-weight: normal;
}

h1 {
   font-size: $fontsize-h1;
   padding: 0 0 0.19em;
}

h2 {
   font-size: $fontsize-h2;
   padding: 0.32em 0 0.61em;
}

h3 {
   font-size: $fontsize-h3;
   font-variant: small-caps;
   padding: 0.71em 0 0.9em 0;
   color: $color-h3;
}

a,
a:link,
a:active {
   color: $color-link;
   transition: $transition;
}

a:hover {
   color: $color-link_hover;
   transition: $transition;
}

a.active,
a:focus {
   border: 0;
   border-radius: 0.05em;
   outline: 3px solid $color-link_focus;
   outline-offset: 0.2em;
   transition: $transition;
}

p {
   margin-bottom: 1.75em; // Equal to one line-height.
}

sup,
sub {
   font-size: $fontsize-small;
   line-height: 0;
}

abbr {
   cursor: help;
}

dl,
ol,
ul {
   margin-bottom: 1.75em;
}

ul ul,
ol ol {
   margin-left: 2em;
   margin-bottom: 0;
}

ul ul {
   list-style-type: circle;
}

ol,
ul {
   margin-left: 3em;
   margin-right: 3em;
}

dl {
   margin-left: 2em;
   margin-right: 3em;
}

dt {
   font-weight: bold;
}

dd {
   margin-left: 1em;
}



img {
   border: 0;
}

figure {}

figcaption {
   font-size: $fontsize-small;
   text-align: center;
}

blockquote {
   margin-left: 3em;
   margin-right: 3em;
   margin-bottom: 1.75em;
   padding: 1.75em;

   background-color: $color-blockquote_background;
   border-left: 0.5em solid $color-blockquote_border;

   figcaption {
      text-align: right;
   }

   figcaption cite {
      display: inline;
   }
}



table {
   margin: auto;
   margin-bottom: 1.75em;
   border-collapse: collapse;
   border-bottom: 0;
}

tr:nth-child(even) {
   background-color: $color-paper_dark;
}

th:first-child,
td:first-child {
   border-left: 0;
}

th:last-child,
td:last-child {
   border-right: 0;
}

th,
td {
   border: 1px solid $color-shortbread_dark;
   padding: 0.5em;
}

th {
   border-top: 0;
   background-color: $color-shortbread_dark;
   text-align: center;
}
td {
   border-bottom: 0;
}

caption {
   caption-side: bottom;
   font-size: $fontsize-small;
   padding-top: 1em;
}



hr {
   margin: 2*1.75em 6em 2*1.68em;

   border-style: solid;
   border-color: $color-hr;
}

code,
pre,
kbd,
samp {
   font-family: $fontfamily-code;
}

code {
   padding: 0.4em 0.5em 0.2em;

   background-color: $color-code_background;
   color: $color-code_text;
   border-radius: $border_radius-inline;
}

kbd {
   position: relative;
   top: -1px;
   display: inline-block;
   min-width: 0.75em;
   padding: 0.2em 0.5em;
   line-height: 1;

   background-color: $color-kbd_background;
   border: 1px solid $color-kbd_border;
   border-radius: $border_radius-inline;
   box-shadow: 0 2px 0 1px $color-kbd_box_shadow;

   cursor: default;

   font-family: $fontfamily-body;
   text-align: center;
   color: $color-body_text;

   transition: $transition;
   &:hover {
      box-shadow: 0 1px 0 0.5px $color-kbd_hover;
      top: 1px;
   }
}

pre {
   padding: 1em;
   margin-bottom: 1.75em;
   white-space: pre-wrap;

   background-color: $color-code_background;
   color: $color-code_text;
   border-radius: 6px;
   code {
      padding: 0;
   }
}



input[type="search"] {
   background-color: $color-searchbar_background;
   border: 1px solid $color-searchbar_border;
   transition: $transition;

   &:hover {
      border: 1px solid $color-searchbar_border_hover;
      box-shadow: 0 0 6px $color-searchbar_shadow_hover;
   }
   &:focus {
      border: 1px solid $color-searchbar_border_focus;
      outline: 1px solid $color-searchbar_border_focus;
      box-shadow: 0 0 6px $color-searchbar_shadow_focus;
   }
}

button {
   background-color: $color-button_background;
   border: 1px solid transparent;
   transition: $transition;

   &:hover {
      box-shadow: 0 0 7px $color-button_shadow_hover;
   }
   &:focus {
      box-shadow: 0 0 7px $color-button_shadow_focus;
      outline: 1px solid $color-button_outline-focus;
   }
}
