/*------------------------------------*\
  # GLOBAL STYLING
  # components universal to all pages
\*------------------------------------*/

.global-header,
.global-footer {
   width: 100%;

   grid-column: span 12 / auto;
}

.global-header {
   padding: 1.205em 1.75em;
   position: -webkit-sticky; /* Safari */
   position: sticky;
   top: 0;

   display: flex;
   align-items: center;
   justify-content: space-between;

   background-color: $color-global_background;
   border-bottom: 1px solid $color-global_border;

   a,
   a:link,
   a:hover,
   a:visited {
      color: $color-body_text;
   }
}

.global-footer {
   background-color: $color-global_background;
   border-top: 1px solid $color-global_border;
   padding: 1.75em;

   font-size: $fontsize-small;
   text-align: center;

   p {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
   }
}

.global-logo {
   padding: 0;
   margin: 0;

   font-size: $fontsize-med;
   font-variant-caps: small-caps;

   a {
      text-decoration: none;
   }
}

.global-favicon {
   max-width: 1em;
   margin-right: 0.25em;
   margin-bottom: -0.16em;
}

.global-search {
   padding-bottom: 2px;
}

.global-searchbar {
   padding: 0.2rem 1rem;
   border-radius: 8px;
   font-size: $fontsize-small;
   line-height: 2rem;
}

.global-searchbar::placeholder {
   text-transform: uppercase;
}

.global-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.global-nav-link {
   position: relative;
   display: inline-block;
   padding-top: 0.15rem;
   margin-right: 1.75rem;

   font-size: $fontsize-small;
   text-decoration: none;
   text-transform: uppercase;
   &::after {
      content: ' ';
		position: absolute;
		top: 100%;
		left: 25%;

		width: 50%;
		height: 1px;
		border-bottom: 2px solid $color-global_nav_underline;

		transition: 0.4s;
   }
   &:hover::after {
      width: 100%;
      left: 0;
   }
}

.global-nav-link:visited {
   color: $color-body_text;
}
