/*------------------------------------*\
  # LANGUAGE STYLING
  # styling for grammars and the like
\*------------------------------------*/

.ipa {
   background-color: $color-code_background;
   padding: .25em;
   border-radius: .25em;
}
