/*------------------------------------*\
  # INDEX.MD STYLING
  # the launchpad and searchbar
\*------------------------------------*/

.launchpad {
   width: 70%;

   grid-column: span 12 / auto;
   display: grid;
   grid-gap: 56px;

   margin-left: auto;
   margin-right: auto;
   padding: 56px 0;
}

.launchpad-search {
   grid-column: span 12 / auto;

   padding: 36px 44px;

   background-color: $color-launchpadsearch;
   border: 1px solid #f0eae7;
   border-radius: 1.5rem;
}

.launchpad-searchbar {
   width: 40%;

   padding: 12px 16px;

   border-radius: 1rem;
   border: 1px solid $color-launchpadsearchbar;

   font-size: $fontsize-body;

   transition: 0.25s;
}

.launchpad-searchbar::placeholder {
   color: #f5a79d;
}

.launchpad-searchbar:focus {
   outline: none;
   border-color: $color-launchpadsearchbar;
   box-shadow: 0 0 10px $color-launchpadsearchbar;
   transition: 0.25s;
}

.launchpad-search label {
   font-family: $font-serif;
   font-size: $fontsize-larger;
}

.launchpad-search_submit {
   padding: 12px 20px;

   background: $color-launchpadsearchbar;
   border: 1px solid $color-launchpadsearchbar;
   border-radius: 1rem;

   font-size: $fontsize-body;
}

.launchpad-projects {
   grid-column: span 12 / auto;

   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-gap: 32px;
}



/*------------------------------------*\
  # !IF ONLY ONE PROJECT IS SHOWN
\*------------------------------------*/

.launchpad-wiki_card {
   grid-column: span 12 / auto;
   padding: 28px;

   background-color: $color-projecthover;
   border-radius: 1.5rem;
   border: 1px solid $color-projectborder;

   text-decoration: none;
   color: $color-bodytext;
}

.launchpad-wiki_card:link {
   color: $color-bodytext;
}

.launchpad-wiki_card:hover {
   background-color: $color-projecthover;

   color: $color-projectcard;

   transition: 0.2s;
}

.launchpad-project_card:visited {
   color: $color-bodytext;
}

/*------------------------------------*\
  # !IF MULTIPLE PROJECTS ARE SHOWN
\*------------------------------------*/

.launchpad-project_card {
   grid-column: span 4 / auto;

   padding: 36px 28px 28px;

   border-radius: 1.5rem;
   border: 1px solid $color-projectborder;

   text-decoration: none;
   color: $color-bodytext;

   header {
      margin-top: 16px;

      font-family: $fontfamily-header;
      font-size: $fontsize-med;
   }

   .project-icon {
      padding: 16px;

      border-radius: 3rem;
      background-color: $color-projectcard;

      color: #ffffff;
      font-size: $fontsize-med;

      transition: 0.2s;
   }
}

.launchpad-project_card:link {
   color: $color-bodytext;
}

.launchpad-project_card:hover {
   .project-icon {
      background-color: $color-projecthover;

      color: $color-projectcard;

      transition: 0.2s;
   }
   color: $color-bodytext;
}

.launchpad-project_card:visited {
   color: $color-bodytext;
}
