/*------------------------------------*\
  # SEARCH PAGE STYLING
\*------------------------------------*/

#search-results {
   margin-left: 0;
}

#search-results dt {
   font-weight: normal;
}

#search-results dd {
   margin-left: 0;
}

.search_result {}

.search_result-details {
   margin-bottom: 0;
   margin-left: 1.75rem;
   font-size: $fontsize-small;
   text-transform: uppercase;
}

.search_result-preview {
   margin-bottom: 1.75rem;
}
