/*------------------------------------*\
  # SEARCH PAGE STYLING
\*------------------------------------*/

#search-results dd {
}

.search_result {}

.search_result-details {
   margin-bottom: 0;
   margin-left: 1.75rem;
   font-size: $fontsize-small;
   text-transform: uppercase;
}

.search_result-preview {
   margin-bottom: 1.75rem;
}
