/*------------------------------------*\
  # COLOUR SCHEME
\*------------------------------------*/

// neutrals
$color-paperlight: #fdfcfc; // off white
$color-paperdark: #fbf9f8;
$color-linen: #f6f2ef; // shortbread
$color-shortbread: #f9f6f4;//#f8f4f2;
$color-ink: #4b4a46; // dark umber
$color-inkwarm: #504b38;
$color-ink_faded: #828077;

// brights
$color-limeade: #e2edbf;
$color-pistachio: #f1f5e1;
$color-kiwi: #a7c854;
$color-melon: #f1a393;
$color-peach: #f7dcd3;
$color-mango: #f6bf5d;

// links
$color-bluelight: #4083ae;
$color-bluedark: #356d90;
$color-purple: #61609d;

/*------------------------------------*\
  # COLOUR SCHEME values
\*------------------------------------*/

// Colours that apply to the body of all pages.
$color-bodybg: $color-linen;
$color-contentbg: $color-paperlight;

// Global text and link colours.
$color-bodytext: $color-ink;
$color-h3: $color-ink_faded;

$color-link: $color-bluelight;
$color-linkhover: $color-bluedark;
$color-linkactive: $color-purple;
$color-linkvisited: $color-purple;

// Colours that apply to the global header and footer.
$color-globalbg: $color-paperdark;
$color-globalborder: $color-shortbread;
$color-global_nav_underline: $color-mango;

$color-globalsearchbar: $color-peach;

// Colours that apply to the index page or launchpad.
$color-launchpadsearch: $color-linen;
$color-launchpadborder: $color-linen;
$color-launchpadsearchbar: $color-melon;
$color-projectcard: $color-kiwi;
$color-projectborder: $color-linen;
$color-projecthover: $color-limeade;

// General searchbar colours.
$color-searchbar_border: $color-shortbread;
$color-searchbar_border_hover: $color-linen;
$color-searchbar_border_focus: $color-peach;
$color-searchbar_shadow_hover: $color-peach;
$color-searchbar_shadow_focus: $color-peach;

// Colours that apply only to collections pages.
$color-collections_sidebar: $color-paperdark;
$color-collections_header: $color-paperdark;
$color-collections_header_border: $color-shortbread;//#faf7f6;

// Colours that apply only to entry pages.
$color-articleborder: $color-linen;
$color-entry_secondary: $color-paperdark;

$color-searchbg: $color-paperlight;
$color-codebg: $color-pistachio;
$color-codetext: $color-inkwarm;
$color-hr: $color-linen;

$color-blockquoteborder: $color-linen;
