/*------------------------------------*\
  # COLOUR SCHEME
\*------------------------------------*/

// neutrals
$color-paper_light: #fdfcfc; // off white
$color-paper_dark: #fbf9f8;
$color-linen: #f6f2ef;
$color-shortbread: #f9f6f4;//#f8f4f2;
$color-shortbread_dark: #f3efec;
$color-ink: #4b4a46; // dark umber; // #292924 wcag a pass
$color-ink_warm: #504b38;
$color-ink_faded: #828077;

// brights
$color-limeade: #e2edbf;
$color-pistachio: #f1f5e1;
$color-kiwi: #a7c854;
$color-melon: #f1a393;
$color-peach: #f7dcd3;
$color-mango: #f6bf5d;

// links
$color-blue_light: #4083ae; // #3B79A0 wcag a pass
$color-blue_dark: #356d90;
$color-purple: #61609d;
$color-blue_pale: #c6dffc;

/*------------------------------------*\
  # COLOUR SCHEME values
\*------------------------------------*/

// Colours that apply to the body of all pages.
$color-body_background: $color-linen;
$color-content_background: $color-paper_light;

// Global text and link colours.
$color-body_text: $color-ink;
$color-h3: $color-ink_faded;

$color-link: $color-blue_light;
$color-link_hover: $color-blue_dark;
$color-link_active: $color-purple;
$color-link_visited: $color-purple;
$color-link_focus: $color-blue_pale;

// General searchbar colours.
$color-searchbar_background: $color-paper_light;
$color-searchbar_border: $color-shortbread_dark;
$color-searchbar_border_hover: $color-linen;
$color-searchbar_border_focus: $color-melon;
$color-searchbar_shadow_hover: $color-peach;
$color-searchbar_shadow_focus: $color-melon;

// General button colours.
$color-button_background: $color-peach;
$color-button_shadow_hover: $color-melon;
$color-button_shadow_focus: $color-melon;
$color-button_outline-focus: $color-melon;

// Miscellaneous
$color-code_background: $color-pistachio;
$color-code_text: $color-ink_warm;
$color-hr: $color-linen;

$color-kbd_background: $color-paper_light;
$color-kbd_border: $color-shortbread_dark;
$color-kbd_box_shadow: $color-shortbread_dark;
$color-kbd_hover: $color-shortbread_dark;

$color-blockquote_background: $color-paper_dark;
$color-blockquote_border: $color-shortbread;

/*------------------------------------*\
  # COLOUR SCHEME values
  # page- or section-specific
\*------------------------------------*/

// Colours that apply to the global header and footer.
$color-global_background: $color-paper_dark;
$color-global_border: $color-shortbread;
$color-global_nav_underline: $color-mango;

// Colours that apply to the index page or launchpad.
$color-launchpad_search: $color-linen;
$color-launchpad_search_border: $color-shortbread_dark;

$color-project_card_icon: $color-kiwi;
$color-project_card_border: $color-linen;
$color-project_card_hover_shadow: $color-linen;
$color-project_card_icon_hover: $color-limeade;
$color-project_card_focus: $color-limeade;

$color-wiki_card_background: $color-limeade;
$color-wiki_icon_background: $color-paper_light;
$color-wiki_card_border: $color-limeade;
$color-wiki_card_hover_shadow: $color-limeade;
$color-wiki_card_focus: $color-kiwi;

// Colours that apply only to collections pages.
$color-collections_sidebar: $color-paper_dark;
$color-collections_sidebar_border: $color-shortbread;
$color-collections_header: $color-paper_dark;
$color-collections_header_border: $color-shortbread;

$color-portal_card_border: $color-linen;
$color-portal_card_icon_hover: $color-kiwi;
$color-portal_card_focus: $color-limeade;

// Colours that apply only to entry pages.
$color-article_border: $color-linen;
$color-entry_secondary: $color-paper_dark;
