---
   layout: default
---

<div class="launchpad">



   <section class="launchpad-search">

      <form action="/search" method="GET">

         <label for="input__text">What do you want to know?</label><br>
         <input id="input__text" name="q" class="launchpad-searchbar" required type="search" placeholder="Search">

         <button type="submit" class="launchpad-search_submit">Go!</button>

      </form>

   </section>



   <section class="launchpad-projects">

      {% if site.multi_projects %}

         {% for item in site.data.projects %}

            <a href="{{ item.link }}" class="launchpad-card">
               <i class="{{ item.icon }} project-icon"></i>
               <header>{{ item.name }}</header>
               {{ item.desc }}
            </a>

         {% endfor %}

      {% else %}

         <a href="/wiki" class="launchpad-card launchpad-card_wiki">
            <i class="ri-footprint-line project-icon"></i>
            <header>Explore the wiki!</header>
         </a>

         <a href="/wiki:contents" class="launchpad-card">
            <i class="ri-file-list-2-line project-icon"></i>
            <header>Contents</header>
            Navigate the wiki
         </a>

         <a href="/wiki:random" class="launchpad-card">
            <i class="ri-question-line project-icon"></i>
            <header>Random</header>
            Visit a random article
         </a>

      {% endif %}

   </section>



</div>
