---
   layout: collections
---

{% for item in site.data.portals_wiki %}
   {% if page.title contains item.name %}

      <ul class="portal-list">

         {% for item in item.categories %}

            <li class="portal-cat">
               <a href="{{ item.link }}">{{ item.cat }}</a>

               {% if item.subcategories %}
                  <ul class="portal-subcat_list">

                     {% for item in item.subcategories %}
                           <li class="portal-subcat_inline">
                              <a href="{{ item.link }}" class="portal-subcat">{{ item.subcat }}</a>

                              {% if item.tags %}
                                 ⋅
                                 {% for item in item.tags %}
                                    <a href="" class="portal-tag">{{ item.tag }}</a>
                                 {% endfor %}
                              {% endif %}
                           </li>
                     {% endfor %}

                  </ul>
               {% endif %}

            </li>

         {% endfor %}

      </ul>

   {% endif %}
{% endfor %}
